Το αρχείο train και test dataset τα αρχικά

In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

df_train = pd.read_csv('train.csv')
df_train.head()

Using TensorFlow backend.

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,7

In [2]:
df_test = pd.read_csv('test.csv')
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd
0,2012-10-21,DFW,Dallas-Fort Worth,32.896828,-97.037997,SFO,San Francisco,37.618972,-122.374889,14.600000,11.575837
1,2012-09-13,LAX,Los Angeles,33.942536,-118.408075,ATL,Atlanta,33.636719,-84.428067,14.730769,13.364304
2,2012-09-04,ORD,Chicago,41.978603,-87.904842,IAH,Houston,29.984433,-95.341442,8.470588,5.885551
3,2012-08-13,DEN,Denver,39.861656,-104.673178,PHX,Phoenix,33.434278,-112.011583,8.200000,6.292853
4,2012-09-10,ORD,Chicago,41.978603,-87.904842,SEA,Seattle,47.449000,-122.309306,12.090909,9.138662

ΣΥΝΑΡΤΗΣΗ ΜΕΤΑΤΡΟΠΗΣ ΓΕΩΓΡΑΜΙΚΟΥ ΜΗΚΟΥΣ-ΠΛΑΤΟΥΣ ΑΕΡΟΔΡΟΜΙΟΥ ΑΝΑΧΩΡΗΣΗ-ΑΦΙΞΗΣ ΣΕ ΑΠΟΣΤΑΣΗ ΜΕΤΑΞΥ ΤΩΝ ΔΥΟ ΑΕΡΟΔΡΟΜΙΩΝ

In [3]:
from math import sin, cos, sqrt, atan2, radians

def distance_calculation(lat1,lon1,lat2,lon2): 
    
    R = 6373.0 # approximate radius of earth in km

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance

disTr=[None]*len(df_train)
for i in range(len(df_train)):
    disTr[i] = distance_calculation(df_train['LatitudeDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeArrival'][i],df_train['LongitudeArrival'][i])

disTe=[None]*len(df_test)
for i in range(len(df_test)):
    disTe[i] = distance_calculation(df_test['LatitudeDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeArrival'][i],df_test['LongitudeArrival'][i])

ΚΑΝΟΝΙΚΟΠΟΙΗΣΗ ΤΗΣ ΜΕΤΑΒΛΗΤΗΣ ΤΗΣ ΑΠΟΣΤΑΣΗΣ ΜΕ ΤΗΝ ΜΕΘΟΔΟ ΤΟΥ STANDARD SCALER(ΠΑΡΕΧΕΤΑΙ ΚΑΙ Ο MINMAXSCALER)

In [4]:
#Normalize distance
#from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
scaler2 = StandardScaler()
#scaler=MinMaxScaler()

#disTrain=disTr.copy()
#disTest=disTe.copy()
disTrain2=disTr.copy()
disTest2=disTe.copy()

#disTrain=np.ravel(disTrain)
#disTest=np.ravel(disTest)
disTrain2=np.ravel(disTrain2)
disTest2=np.ravel(disTest2)

#disTrain=disTrain.reshape(-1, 1)
#disTest=disTest.reshape(-1, 1)
disTrain2=disTrain2.reshape(-1, 1)
disTest2=disTest2.reshape(-1, 1)

#X_scaled = scaler.fit_transform(disTrain)  
#T_scaled = scaler.fit_transform(disTest)
X_scaled2 = scaler2.fit_transform(disTrain2)  
T_scaled2 = scaler2.fit_transform(disTest2)


for i in range(len(df_train)):
    #disTrain[i]=X_scaled[i]
    disTrain2[i]=X_scaled2[i]
    
for i in range(len(df_test)):
    #disTest[i]=T_scaled[i]
    disTest2[i]=T_scaled2[i]

ΔΗΜΙΟΥΡΓΙΑ FEATURE Airports

In [5]:
#Airports train
d=0
a=0
airportTr= [None]*len(df_train)
air=['ATL','ORD','LAX','DFW','DEN','JFK','SFO','CLT','LAS','PHX','IAH','MIA','MCO','EWR','SEA','MSP','DTW','PHL','BOS']
for i in range(len(df_train)):
    a=0
    d=0
    for j in range(len(air)):
        if(df_train['Arrival'][i]==air[j]):
            a=1
        if(df_train['Departure'][i]==air[j]):
            d=1
    if(a==1 and d==1):
        airportTr[i] = 2
            
    elif((a==1 and d!=1) or (a!=1 and d==1)):
        airportTr[i] = 1
    else:
        airportTr[i] = 0
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,7

ΔΗΜΙΟΥΡΓΙΑ FEATURE Airports

In [6]:
#Airports test data
d=0
a=0
airportTe= [None]*len(df_test)
air=['ATL','ORD','LAX','DFW','DEN','JFK','SFO','CLT','LAS','PHX','IAH','MIA','MCO','EWR','SEA','MSP','DTW','PHL','BOS']
for i in range(len(df_test)):
    a=0
    d=0
    for j in range(len(air)):
        if(df_test['Arrival'][i]==air[j]):
            a=1
        if(df_test['Departure'][i]==air[j]):
            d=1
    if(a==1 and d==1):
        airportTe[i] = 2
            
    elif((a==1 and d!=1) or (a!=1 and d==1)):
        airportTe[i] = 1
    else:
        airportTe[i] = 0
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd
0,2012-10-21,DFW,Dallas-Fort Worth,32.896828,-97.037997,SFO,San Francisco,37.618972,-122.374889,14.600000,11.575837
1,2012-09-13,LAX,Los Angeles,33.942536,-118.408075,ATL,Atlanta,33.636719,-84.428067,14.730769,13.364304
2,2012-09-04,ORD,Chicago,41.978603,-87.904842,IAH,Houston,29.984433,-95.341442,8.470588,5.885551
3,2012-08-13,DEN,Denver,39.861656,-104.673178,PHX,Phoenix,33.434278,-112.011583,8.200000,6.292853
4,2012-09-10,ORD,Chicago,41.978603,-87.904842,SEA,Seattle,47.449000,-122.309306,12.090909,9.138662

ΔΗΜΙΟΥΡΓΙΑ FEATURE IsHolidays

In [7]:
#Date train data
import datetime
from datetime import date
dayTr=[None]*len(df_train)
monthTr = [None]*len(df_train)
yearTr = [None]*len(df_train)
holTr=[None]*len(df_train)
normDate=[None]*len(df_train)
doubleYear=[31,29,31,30,31,30,31,31,30,31,30,31]
oneYear=[31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(len(df_train)):
    ys,ms,ds=df_train['DateOfDeparture'][i].split('-')
    d=int(ds)
    m=int(ms)
    y=int(ys)
    dayTr[i]=d
    monthTr[i]=m
    yearTr[i]=y
    holTr[i]=0
    if(m==12):
        if(d>=18 and d<=31):
            holTr[i]=2
        elif(d>=1 and d<=3):
            holTr[i]=2
    elif(m==1):
         if(d>=1 and d<=6):
            holTr[i]=2
       
    elif(m==9):
         if(d>=1 and d<=7):
            holTr[i]=1
        
    elif(m==8):
        
        if(d>=29 and d<=31):
            holTr[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTr[i]=1 
        
    elif(m==5):
         if(d>=22 and d<=30):
            holTr[i]=1
        
    elif(m==7):
        if(d>=1 and d<=7):
            holTr[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTr[i]=1 
    elif(m==11):
         if(d>=23 and d<=31):
            holTr[i]=2
   

    #NEW ENTRY NORM DATE
    if(y==2012):
        if(m==1):
            normDate[i]=d/366  
        elif(m==2):
             normDate[i]=(doubleYear[0]+d)/366 
        elif(m==3):
             normDate[i]=(doubleYear[0]+doubleYear[1]+d)/366 
        
        elif(m==4):
             normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+d)/366 
        
        elif(m==5):
             normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+d)/366 
        elif(m==6):
             normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+d)/366 
        
        elif(m==7):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+d)/366 
        elif(m==8):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+d)/366 
        elif(m==9):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+d)/366 
        elif(m==10):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+d)/366 
        elif(m==11):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+d)/366 
        elif(m==12):
            normDate[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+doubleYear[10]+d)/366 
    else:
        if(m==1):
            normDate[i]=d/365 
        elif(m==2):
             normDate[i]=(oneYear[0]+d)/365 
        elif(m==3):
             normDate[i]=(oneYear[0]+oneYear[1]+d)/365 
        
        elif(m==4):
             normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+d)/365 
        
        elif(m==5):
             normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+d)/365 
        elif(m==6):
             normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+d)/365 
        
        elif(m==7):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+d)/365 
        elif(m==8):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+d)/365 
        elif(m==9):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+d)/365 
        elif(m==10):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+d)/365 
        elif(m==11):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+d)/365 
        elif(m==12):
            normDate[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+oneYear[10]+d)/365

In [8]:
#Date Test data
import datetime
dayTe=[None]*len(df_test)
monthTe = [None]*len(df_test)
yearTe = [None]*len(df_test)
holTe=[None]*len(df_test)
normDate1=[None]*len(df_test)
doubleYear=[31,29,31,30,31,30,31,31,30,31,30,31]
oneYear=[31,28,31,30,31,30,31,31,30,31,30,31]
for i in range(len(df_test)):
    ys,ms,ds=df_test['DateOfDeparture'][i].split('-')
    d=int(ds)
    m=int(ms)
    y=int(ys)
    dayTe[i]=d
    monthTe[i]=m
    yearTe[i]=y
    holTe[i]=0
    if(m==12):
        if(d>=18 and d<=31):
            holTe[i]=2
        elif(d>=1 and d<=3):
            holTe[i]=2
        
    elif(m==1):
         if(d>=1 and d<=6):
            holTe[i]=2
        
    elif(m==9):
         if(d>=1 and d<=7):
            holTe[i]=1
        
    elif(m==8):
        if(d>=29 and d<=31):
            holTe[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTe[i]=1 
    elif(m==5):
         if(d>=22 and d<=30):
            holTe[i]=1
        
    elif(m==7):
        if(d>=1 and d<=7):
            holTe[i]=1
        wD=datetime.date(y,m,d).weekday()
        if(wD==4 or wD==5 or wD==6):
            holTe[i]=1 
    elif(m==11):
         if(d>=23 and d<=31):
            holTe[i]=2

            
    #NEW ENTRY NORM DATE
    if(y==2012):
        if(m==1):
            normDate1[i]=d/366  
        elif(m==2):
             normDate1[i]=(doubleYear[0]+d)/366 
        elif(m==3):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+d)/366 
        
        elif(m==4):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+d)/366 
        
        elif(m==5):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+d)/366 
        elif(m==6):
             normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+d)/366 
        
        elif(m==7):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+d)/366 
        elif(m==8):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+d)/366 
        elif(m==9):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+d)/366 
        elif(m==10):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+d)/366 
        elif(m==11):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+d)/366 
        elif(m==12):
            normDate1[i]=(doubleYear[0]+doubleYear[1]+doubleYear[2]+doubleYear[3]+doubleYear[4]+doubleYear[5]+doubleYear[6]+doubleYear[7]+doubleYear[8]+doubleYear[9]+doubleYear[10]+d)/366 
    else:
        if(m==1):
            normDate1[i]=d/365 
        elif(m==2):
             normDate1[i]=(oneYear[0]+d)/365 
        elif(m==3):
             normDate1[i]=(oneYear[0]+oneYear[1]+d)/365 
        
        elif(m==4):
             normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+d)/365 
        
        elif(m==5):
             normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+d)/365 
        elif(m==6):
             normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+d)/365 
        
        elif(m==7):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+d)/365 
        elif(m==8):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+d)/365 
        elif(m==9):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+d)/365 
        elif(m==10):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+d)/365 
        elif(m==11):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+d)/365 
        elif(m==12):
            normDate1[i]=(oneYear[0]+oneYear[1]+oneYear[2]+oneYear[3]+oneYear[4]+oneYear[5]+oneYear[6]+oneYear[7]+oneYear[8]+oneYear[9]+oneYear[10]+d)/365

ΚΑΝΟΝΙΚΟΠΟΙΗΣΗ ΤΩΝ ΠΟΣΟΤΙΚΩΝ ΜΕΤΑΒΛΗΤΩΝ ΜΕ ΤΟΝ STANDARDSCALER

In [9]:
from sklearn.preprocessing import StandardScaler
scaler1 = StandardScaler()
df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']]=scaler1.fit_transform(df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']])
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,2011-12-05,ORD,Chicago,0.893873,0.334627,EWR,Newark,0.628311,1.114971,-1.110302,-1.382558,7
1,2013-03-01,ATL,Atlanta,-0.894398,0.533909,LGA,New York,0.646326,1.131891,-0.371087,0.643282,7
2,2012-02-06,ORD,Chicago,0.893873,0.334627,BOS,Boston,0.983713,1.295768,-0.789662,-0.695715,7
3,2012-12-10,ORD,Chicago,0.893873,0.334627,SFO,San Francisco,-0.025061,-1.640075,-0.998166,-0.570706,7
4,2012-04-13,SFO,San Francisco,-0.040712,-1.641137,JFK,New York,0.617098,1.137245,0.921391,0.576349,7

In [10]:
scaler1 = StandardScaler()
df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']]=scaler1.fit_transform(df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']])
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd
0,2012-10-21,DFW,Dallas-Fort Worth,-1.046445,-0.185228,SFO,San Francisco,-0.043391,-1.665838,1.091168,1.337355
1,2012-09-13,LAX,Los Angeles,-0.820550,-1.411666,ATL,Atlanta,-0.889163,0.494646,1.137155,2.161748
2,2012-09-04,ORD,Chicago,0.915406,0.338927,IAH,Houston,-1.664855,-0.126702,-1.064346,-1.285581
3,2012-08-13,DEN,Denver,0.458101,-0.623415,PHX,Phoenix,-0.932159,-1.075808,-1.159503,-1.097835
4,2012-09-10,ORD,Chicago,0.915406,0.338927,SEA,Seattle,2.044363,-1.662104,0.208802,0.213940

ΤΑ 2 ΕΠΟΜΕΝΑ ΚΕΛΙΑ ΜΠΑΙΝΟΥΝ ΜΕ ΤΗΝ ΠΡΟΥΠΟΘΕΣΗ ΟΤΙ ΘΕΛΟΥΜΕ ΝΑ ΚΑΝΟΥΜΕ MINMAXSCALER

In [11]:
#from sklearn.preprocessing import MinMaxScaler
#import numpy as np
#scaler = MinMaxScaler()
#df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']]=scaler.fit_transform(df_train[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']])
#df_train.head()

In [12]:
#scaler = MinMaxScaler()
#df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']]=scaler.fit_transform(df_test[['LongitudeDeparture','LatitudeDeparture','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd']])
#df_test.head()

ΓΡΑΦΟΥΜΕ ΞΑΝΑ ΤΟ TEST KAI TRAIN DATASET ΣΕ 2 ΝΕΑ ΑΡΧΕΙΑ ΩΣΤΕ ΝΑ ΤΑ ΔΙΑΒΑΣΟΥΜΕ ΑΠΟ ΚΕΙ(ΤΑ ΓΡΑΦΟΥΜΕ ΓΙΑ ΤΗΝ ΠΕΡΙΠΤΩΣΗ ΠΟΥ ΑΠΛΑ ΘΕΛΟΥΜΕ ΝΑ ΑΝΟΙΞΟΥΜΕ ΤΑ ΝΕΑ DATASETS ΣΕ ΕΝΑ EXCEL ΚΑΙ ΝΑ ΔΟΥΜΕ ΤΑ ΔΕΔΟΜΕΝΑ)

In [13]:
import csv
with open('new_train.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','Airports','IsHolidays','PAX'])
    for i in range(len(df_train)):
        writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],disTrain2.T[0][i],airportTr[i],holTr[i],df_train['PAX'][i]])

In [14]:
import csv
with open('new_test.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','Airports','IsHolidays'])
    for i in range(len(df_test)):
        writer.writerow([df_test['DateOfDeparture'][i],df_test['Departure'][i],df_test['CityDeparture'][i],df_test['LongitudeDeparture'][i],df_test['LatitudeDeparture'][i],df_test['Arrival'][i],df_test['CityArrival'][i],df_test['LongitudeArrival'][i],df_test['LatitudeArrival'][i],df_test['WeeksToDeparture'][i],df_test['std_wtd'][i],disTest2.T[0][i],airportTe[i],holTe[i]])

ΦΟΡΤΩΝΟΥΜΕ ΤΑ ΝΕΑ ΤΡΟΠΟΠΟΙΗΜΕΝΑ DATASETS

In [15]:
df_train = pd.read_csv('new_train.csv')
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,Airports,IsHolidays,PAX
0,2011-12-05,ORD,Chicago,0.893873,0.334627,EWR,Newark,0.628311,1.114971,-1.110302,-1.382558,-0.239266,2,0,7
1,2013-03-01,ATL,Atlanta,-0.894398,0.533909,LGA,New York,0.646326,1.131891,-0.371087,0.643282,-0.466538,1,0,7
2,2012-02-06,ORD,Chicago,0.893873,0.334627,BOS,Boston,0.983713,1.295768,-0.789662,-0.695715,-0.008578,2,0,7
3,2012-12-10,ORD,Chicago,0.893873,0.334627,SFO,San Francisco,-0.025061,-1.640075,-0.998166,-0.570706,1.272492,2,0,7
4,2012-04-13,SFO,San Francisco,-0.040712,-1.641137,JFK,New York,0.617098,1.137245,0.921391,0.576349,2.302023,2,0,7

In [16]:
df_test = pd.read_csv('new_test.csv')
df_test.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,Airports,IsHolidays
0,2012-10-21,DFW,Dallas-Fort Worth,-1.046445,-0.185228,SFO,San Francisco,-0.043391,-1.665838,1.091168,1.337355,0.590574,2,0
1,2012-09-13,LAX,Los Angeles,-0.820550,-1.411666,ATL,Atlanta,-0.889163,0.494646,1.137155,2.161748,1.215239,2,0
2,2012-09-04,ORD,Chicago,0.915406,0.338927,IAH,Houston,-1.664855,-0.126702,-1.064346,-1.285581,-0.712174,2,1
3,2012-08-13,DEN,Denver,0.458101,-0.623415,PHX,Phoenix,-0.932159,-1.075808,-1.159503,-1.097835,-0.697832,2,0
4,2012-09-10,ORD,Chicago,0.915406,0.338927,SEA,Seattle,2.044363,-1.662104,0.208802,0.213940,1.245372,2,0

In [17]:
seed = 7
np.random.seed(seed)

ΠΕΤΑΜΕ ΤΙΣ ΣΤΥΛΕΣ CityDeparture LongitudeDeparture LatitudeDeparture CityArrival LongitudeArrival LatitudeArrival ΚΑΙ ΚΡΑΤΑΜΕ ΤΙΣ ΥΠΟΛΟΙΠΕΣ. ΑΠΟ ΤΟ TRAIN DATASET ΠΕΤΑΜΕ ΚΑΙ ΤΗΝ ΣΤΥΛΗ PAX ΜΕ ΤΑ LABELS ΑΦΟΥ ΤΗΝ ΑΠΟΘΗΚΕΥΣΟΥΜΕ ΠΡΩΤΑ ΣΕ ΕΝΑ ΝΕΟ ΠΙΝΑΚΑ ΜΟΝΗ ΤΗΣ

In [18]:
y_train = df_train[['PAX']]

from sklearn.model_selection import train_test_split
#df_train, df_test, y_train, y_test = train_test_split(df_train, y_train, test_size=0.4, random_state=42)

df_train.drop(df_train.columns[[2,3,4,6,7,8,9,14]], axis=1, inplace=True)
df_train.head()

  DateOfDeparture Departure Arrival   std_wtd  Distance  Airports  IsHolidays
0      2011-12-05       ORD     EWR -1.382558 -0.239266         2           0
1      2013-03-01       ATL     LGA  0.643282 -0.466538         1           0
2      2012-02-06       ORD     BOS -0.695715 -0.008578         2           0
3      2012-12-10       ORD     SFO -0.570706  1.272492         2           0
4      2012-04-13       SFO     JFK  0.576349  2.302023         2           0

In [19]:
df_test.drop(df_test.columns[[2,3,4,6,7,8,9]], axis=1, inplace=True)
df_test.head()

  DateOfDeparture Departure Arrival   std_wtd  Distance  Airports  IsHolidays
0      2012-10-21       DFW     SFO  1.337355  0.590574         2           0
1      2012-09-13       LAX     ATL  2.161748  1.215239         2           0
2      2012-09-04       ORD     IAH -1.285581 -0.712174         2           1
3      2012-08-13       DEN     PHX -1.097835 -0.697832         2           0
4      2012-09-10       ORD     SEA  0.213940  1.245372         2           0

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df_train['Departure'])
df_train['Departure'] = le.transform(df_train['Departure'])
df_train['Arrival'] = le.transform(df_train['Arrival'])
df_test['Departure'] = le.transform(df_test['Departure'])
df_test['Arrival'] = le.transform(df_test['Arrival'])
le = LabelEncoder()
le.fit(df_train['DateOfDeparture'])
df_train['DateOfDeparture'] = le.transform(df_train['DateOfDeparture'])
df_test['DateOfDeparture'] = le.transform(df_test['DateOfDeparture'])

In [21]:
from sklearn.preprocessing import OneHotEncoder
cf = [0,1,2,5,6]
enc1 = OneHotEncoder(categorical_features=cf,sparse=False)#categorical_features=cf,sparse=False
enc1.fit(df_train)
X_train = enc1.transform(df_train)
X_test = enc1.transform(df_test)
X_train.shape

C:\Users\IAKOVOS\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\IAKOVOS\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

(8899, 599)

In [22]:
#ONE HOT Encode output variables
import numpy as np
enc2 = OneHotEncoder(sparse=False)
enc2.fit(y_train)
Y_train = enc2.transform(y_train)
#Y_test = enc2.transform(y_test)
Y_train.shape

C:\Users\IAKOVOS\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

(8899, 8)

ΣΤΗΝ ΠΕΡΙΠΤΩΣΗ ΠΟΥ ΘΕΛΟΥΜΕ ΝΑ ΚΑΝΟΥΜΕ CROSS-VALIDATION

In [23]:
#X_test, X_val,Y_test,Y_val = train_test_split(X_test, Y_test, test_size=0.2, random_state=42)

In [24]:
import keras
from keras.models import Sequential
model = Sequential()

In [25]:
from keras.layers import Dense
from keras.layers import Dropout
d=X_train.shape[1]
#input layer->d neurones | 1 hidden layer 300 neurones| 1 hidden layer 150 neurones|output layer 8 neurones
model.add(Dense(300, input_dim=d, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(150,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(8, activation='softmax'))

In [26]:
# Compile model
model.compile(loss=keras.losses.categorical_crossentropy, 
              optimizer=keras.optimizers.SGD(lr=0.007,momentum=0.9))

In [27]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 300)               180000
_________________________________________________________________
dropout_1 (Dropout)          (None, 300)               0
_________________________________________________________________
dense_2 (Dense)              (None, 150)               45150
_________________________________________________________________
dropout_2 (Dropout)          (None, 150)               0
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 1208
=================================================================
Total params: 226,358
Trainable params: 226,358
Non-trainable params: 0
_________________________________________________________________

ΣΤΗΝ ΠΕΡΙΠΤΩΣΗ ΠΟΥ ΘΕΛΟΥΜΕ ΝΑ ΚΑΝΟΥΜΕ CROSS-VALIDATION KAI NA ΒΡΟΥΜΕ ΤΙΣ ΚΑΤΑΛΛΗΛΕΣ ΠΑΡΑΜΕΤΡΟΥΣ ΓΙΑ ΤΟ ΜΟΝΤΕΛΟ ΜΑΣ

In [28]:
#from keras.layers.core import Activation
#from keras.callbacks import EarlyStopping
#from keras.callbacks import ModelCheckpoint
#from keras import metrics
#monitor=EarlyStopping(monitor='val_loss',min_delta=1e-3,patience=20,verbose=1,mode='auto')
#checkpointer= ModelCheckpoint(filepath="best_weights.hdf5",verbose=0,save_best_only=True)#save best model
#model.fit(X_train, Y_train, validation_data=(X_val,Y_val),callbacks=[monitor,checkpointer], epochs=200, batch_size=200, verbose=1)
#model.load_weights('best_weights.hdf5')#load weights from best model

In [29]:

#score=model.evaluate(X_test,Y_test,batch_size=10)
#model.metrics_names
#print(score)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import StratifiedKFold
import numpy
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=seed)
cvscores = []
for train, test in kfold.split(X, Y):
    model.fit(X_train[train], Y_train[train], epochs=150, batch_size=10, verbose=0)
    # evaluate the model
    scores = model.evaluate(X_test[test], Y_test[test], verbose=0)
    print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))
    cvscores.append(scores[1] * 100)
print("%.2f%% (+/- %.2f%%)" % (numpy.mean(cvscores), numpy.std(cvscores)))

In [32]:
model.fit(X_train, Y_train, epochs=200, batch_size=200, verbose=1) #validation_split=0.2

Train on 7119 samples, validate on 1780 samples
Epoch 1/200
7119/7119 [==============================] - ETA: 0s - loss: 2.035 - 1s 150us/step - loss: 2.0266 - val_loss: 1.9219
Epoch 2/200
7119/7119 [==============================] - 1s 77us/step - loss: 1.9112 - val_loss: 1.8599
Epoch 3/200
7119/7119 [==============================] - 1s 73us/step - loss: 1.8770 - val_loss: 1.8406
Epoch 4/200
7119/7119 [==============================] - 1s 80us/step - loss: 1.8661 - val_loss: 1.8285
Epoch 5/200
7119/7119 [==============================] - 1s 82us/step - loss: 1.8482 - val_loss: 1.8176
Epoch 6/200
7119/7119 [==============================] - 1s 78us/step - loss: 1.8406 - val_loss: 1.8078
Epoch 7/200
7119/7119 [==============================] - 1s 84us/step - loss: 1.8265 - val_loss: 1.7974
Epoch 8/200
7119/7119 [==============================] - 1s 89us/step - loss: 1.8178 - val_loss: 1.7872
Epoch 9/200
7119/7119 [==============================] - 1s 92us/step - loss: 1.8102 - val_loss: 1.7768
Epoch 10/200
7119/7119 [==============================] - 1s 87us/step - loss: 1.8027 - val_loss: 1.7646
Epoch 11/200
7119/7119 [==============================] - 1s 81us/step - loss: 1.7900 - val_loss: 1.7537
Epoch 12/200
7119/7119 [==============================] - 1s 87us/step - loss: 1.7777 - val_loss: 1.7400
Epoch 13/200
7119/7119 [==============================] - 1s 92us/step - loss: 1.7640 - val_loss: 1.7266
Epoch 14/200
7119/7119 [==============================] - 1s 92us/step - loss: 1.7507 - val_loss: 1.7123
Epoch 15/200
7119/7119 [==============================] - 1s 78us/step - loss: 1.7383 - val_loss: 1.6982
Epoch 16/200
7119/7119 [==============================] - 1s 80us/step - loss: 1.7222 - val_loss: 1.6830
Epoch 17/200
7119/7119 [==============================] - 1s 100us/step - loss: 1.7083 - val_loss: 1.6685
Epoch 18/200
7119/7119 [==============================] - 1s 100us/step - loss: 1.6987 - val_loss: 1.6545
Epoch 19/200
7119/7119 [==============================] - 1s 114us/step - loss: 1.6818 - val_loss: 1.6383
Epoch 20/200
7119/7119 [==============================] - 1s 127us/step - loss: 1.6669 - val_loss: 1.6227
Epoch 21/200
7119/7119 [==============================] - 1s 106us/step - loss: 1.6587 - val_loss: 1.6099
Epoch 22/200
7119/7119 [==============================] - 1s 86us/step - loss: 1.6457 - val_loss: 1.5962
Epoch 23/200
7119/7119 [==============================] - 1s 101us/step - loss: 1.6399 - val_loss: 1.5843
Epoch 24/200
7119/7119 [==============================] - 1s 87us/step - loss: 1.6207 - val_loss: 1.5731
Epoch 25/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.6066 - val_loss: 1.5606
Epoch 26/200
7119/7119 [==============================] - 1s 100us/step - loss: 1.5979 - val_loss: 1.5486
Epoch 27/200
7119/7119 [==============================] - 1s 120us/step - loss: 1.5859 - val_loss: 1.5389
Epoch 28/200
7119/7119 [==============================] - 1s 130us/step - loss: 1.5854 - val_loss: 1.5301
Epoch 29/200
7119/7119 [==============================] - 1s 99us/step - loss: 1.5701 - val_loss: 1.5204
Epoch 30/200
7119/7119 [==============================] - 1s 107us/step - loss: 1.5612 - val_loss: 1.5130
Epoch 31/200
7119/7119 [==============================] - 1s 95us/step - loss: 1.5546 - val_loss: 1.5032
Epoch 32/200
7119/7119 [==============================] - 1s 85us/step - loss: 1.5506 - val_loss: 1.4958
Epoch 33/200
7119/7119 [==============================] - 1s 111us/step - loss: 1.5383 - val_loss: 1.4881
Epoch 34/200
7119/7119 [==============================] - 1s 103us/step - loss: 1.5325 - val_loss: 1.4797
Epoch 35/200
7119/7119 [==============================] - 1s 90us/step - loss: 1.5293 - val_loss: 1.4740
Epoch 36/200
7119/7119 [==============================] - 1s 88us/step - loss: 1.5130 - val_loss: 1.4661
Epoch 37/200
7119/7119 [==============================] - 1s 82us/step - loss: 1.5063 - val_loss: 1.4601
Epoch 38/200
7119/7119 [==============================] - 1s 86us/step - loss: 1.5023 - val_loss: 1.4539
Epoch 39/200
7119/7119 [==============================] - 1s 83us/step - loss: 1.4941 - val_loss: 1.4475
Epoch 40/200
7119/7119 [==============================] - 1s 86us/step - loss: 1.4822 - val_loss: 1.4416
Epoch 41/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.4812 - val_loss: 1.4338
Epoch 42/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.4776 - val_loss: 1.4292
Epoch 43/200
7119/7119 [==============================] - 1s 84us/step - loss: 1.4605 - val_loss: 1.4231
Epoch 44/200
7119/7119 [==============================] - 1s 97us/step - loss: 1.4640 - val_loss: 1.4164
Epoch 45/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.4553 - val_loss: 1.4098
Epoch 46/200
7119/7119 [==============================] - 1s 91us/step - loss: 1.4461 - val_loss: 1.4048
Epoch 47/200
7119/7119 [==============================] - 1s 86us/step - loss: 1.4301 - val_loss: 1.3974
Epoch 48/200
7119/7119 [==============================] - 1s 88us/step - loss: 1.4409 - val_loss: 1.3911
Epoch 49/200
7119/7119 [==============================] - 1s 105us/step - loss: 1.4234 - val_loss: 1.3905
Epoch 50/200
7119/7119 [==============================] - 1s 84us/step - loss: 1.4160 - val_loss: 1.3799
Epoch 51/200
7119/7119 [==============================] - 1s 103us/step - loss: 1.4106 - val_loss: 1.3730
Epoch 52/200
7119/7119 [==============================] - 1s 109us/step - loss: 1.3983 - val_loss: 1.3679
Epoch 53/200
7119/7119 [==============================] - 1s 102us/step - loss: 1.3879 - val_loss: 1.3602
Epoch 54/200
7119/7119 [==============================] - 1s 112us/step - loss: 1.3870 - val_loss: 1.3523
Epoch 55/200
7119/7119 [==============================] - 1s 111us/step - loss: 1.3822 - val_loss: 1.3449
Epoch 56/200
7119/7119 [==============================] - 1s 99us/step - loss: 1.3769 - val_loss: 1.3381
Epoch 57/200
7119/7119 [==============================] - 1s 115us/step - loss: 1.3678 - val_loss: 1.3313
Epoch 58/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.3654 - val_loss: 1.3267
Epoch 59/200
7119/7119 [==============================] - 1s 85us/step - loss: 1.3505 - val_loss: 1.3174
Epoch 60/200
7119/7119 [==============================] - 1s 95us/step - loss: 1.3433 - val_loss: 1.3107
Epoch 61/200
7119/7119 [==============================] - 1s 96us/step - loss: 1.3297 - val_loss: 1.3017
Epoch 62/200
7119/7119 [==============================] - 1s 102us/step - loss: 1.3329 - val_loss: 1.2949
Epoch 63/200
7119/7119 [==============================] - 1s 96us/step - loss: 1.3277 - val_loss: 1.2903
Epoch 64/200
7119/7119 [==============================] - 1s 95us/step - loss: 1.3117 - val_loss: 1.2805
Epoch 65/200
7119/7119 [==============================] - 1s 89us/step - loss: 1.2992 - val_loss: 1.2783
Epoch 66/200
7119/7119 [==============================] - 1s 100us/step - loss: 1.2933 - val_loss: 1.2699
Epoch 67/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.2951 - val_loss: 1.2597
Epoch 68/200
7119/7119 [==============================] - 1s 94us/step - loss: 1.2844 - val_loss: 1.2491
Epoch 69/200
7119/7119 [==============================] - 1s 96us/step - loss: 1.2762 - val_loss: 1.2441
Epoch 70/200
7119/7119 [==============================] - 1s 95us/step - loss: 1.2670 - val_loss: 1.2407
Epoch 71/200
7119/7119 [==============================] - 1s 87us/step - loss: 1.2575 - val_loss: 1.2310
Epoch 72/200
7119/7119 [==============================] - 1s 110us/step - loss: 1.2487 - val_loss: 1.2255
Epoch 73/200
7119/7119 [==============================] - 1s 91us/step - loss: 1.2410 - val_loss: 1.2182
Epoch 74/200
7119/7119 [==============================] - 1s 106us/step - loss: 1.2340 - val_loss: 1.2129
Epoch 75/200
7119/7119 [==============================] - 1s 95us/step - loss: 1.2306 - val_loss: 1.2047
Epoch 76/200
7119/7119 [==============================] - 1s 123us/step - loss: 1.2136 - val_loss: 1.1989
Epoch 77/200
7119/7119 [==============================] - 1s 102us/step - loss: 1.2151 - val_loss: 1.1905
Epoch 78/200
7119/7119 [==============================] - 1s 87us/step - loss: 1.2094 - val_loss: 1.1874
Epoch 79/200
7119/7119 [==============================] - 1s 99us/step - loss: 1.1992 - val_loss: 1.1801
Epoch 80/200
7119/7119 [==============================] - 1s 100us/step - loss: 1.1888 - val_loss: 1.1722
Epoch 81/200
7119/7119 [==============================] - 1s 116us/step - loss: 1.1835 - val_loss: 1.1720
Epoch 82/200
7119/7119 [==============================] - 1s 123us/step - loss: 1.1803 - val_loss: 1.1629
Epoch 83/200
7119/7119 [==============================] - 1s 84us/step - loss: 1.1681 - val_loss: 1.1597
Epoch 84/200
7119/7119 [==============================] - 1s 78us/step - loss: 1.1685 - val_loss: 1.1552
Epoch 85/200
7119/7119 [==============================] - 1s 79us/step - loss: 1.1602 - val_loss: 1.1566
Epoch 86/200
7119/7119 [==============================] - 1s 104us/step - loss: 1.1538 - val_loss: 1.1459
Epoch 87/200
7119/7119 [==============================] - 1s 121us/step - loss: 1.1427 - val_loss: 1.1392
Epoch 88/200
7119/7119 [==============================] - 1s 107us/step - loss: 1.1387 - val_loss: 1.1335
Epoch 89/200
7119/7119 [==============================] - 1s 126us/step - loss: 1.1253 - val_loss: 1.1351
Epoch 90/200
7119/7119 [==============================] - 1s 145us/step - loss: 1.1289 - val_loss: 1.1259
Epoch 91/200
7119/7119 [==============================] - 1s 138us/step - loss: 1.1261 - val_loss: 1.1295
Epoch 92/200
7119/7119 [==============================] - 1s 140us/step - loss: 1.1152 - val_loss: 1.1241
Epoch 93/200
7119/7119 [==============================] - 1s 124us/step - loss: 1.1120 - val_loss: 1.1169
Epoch 94/200
7119/7119 [==============================] - 1s 109us/step - loss: 1.1130 - val_loss: 1.1114
Epoch 95/200
7119/7119 [==============================] - 1s 118us/step - loss: 1.1052 - val_loss: 1.1117
Epoch 96/200
7119/7119 [==============================] - 1s 122us/step - loss: 1.0970 - val_loss: 1.1147
Epoch 97/200
7119/7119 [==============================] - 1s 119us/step - loss: 1.0997 - val_loss: 1.1130
Epoch 98/200
7119/7119 [==============================] - 1s 125us/step - loss: 1.0809 - val_loss: 1.0999
Epoch 99/200
7119/7119 [==============================] - 1s 114us/step - loss: 1.0768 - val_loss: 1.1021
Epoch 100/200
7119/7119 [==============================] - 1s 126us/step - loss: 1.0808 - val_loss: 1.0977
Epoch 101/200
7119/7119 [==============================] - 1s 125us/step - loss: 1.0714 - val_loss: 1.0908
Epoch 102/200
7119/7119 [==============================] - 1s 102us/step - loss: 1.0658 - val_loss: 1.0926
Epoch 103/200
7119/7119 [==============================] - 1s 103us/step - loss: 1.0604 - val_loss: 1.0926
Epoch 104/200
7119/7119 [==============================] - 1s 82us/step - loss: 1.0624 - val_loss: 1.0855
Epoch 105/200
7119/7119 [==============================] - 1s 99us/step - loss: 1.0586 - val_loss: 1.0857
Epoch 106/200
7119/7119 [==============================] - 1s 98us/step - loss: 1.0590 - val_loss: 1.0859
Epoch 107/200
7119/7119 [==============================] - 1s 81us/step - loss: 1.0527 - val_loss: 1.0828
Epoch 108/200
7119/7119 [==============================] - 1s 85us/step - loss: 1.0366 - val_loss: 1.0813
Epoch 109/200
7119/7119 [==============================] - 1s 89us/step - loss: 1.0360 - val_loss: 1.0725
Epoch 110/200
7119/7119 [==============================] - 1s 101us/step - loss: 1.0358 - val_loss: 1.0739
Epoch 111/200
7119/7119 [==============================] - 1s 93us/step - loss: 1.0321 - val_loss: 1.0738
Epoch 112/200
7119/7119 [==============================] - 1s 81us/step - loss: 1.0209 - val_loss: 1.0696
Epoch 113/200
7119/7119 [==============================] - 1s 83us/step - loss: 1.0239 - val_loss: 1.0715
Epoch 114/200
7119/7119 [==============================] - 1s 103us/step - loss: 1.0222 - val_loss: 1.0684
Epoch 115/200
7119/7119 [==============================] - 1s 88us/step - loss: 1.0204 - val_loss: 1.0689
Epoch 116/200
7119/7119 [==============================] - 1s 94us/step - loss: 1.0112 - val_loss: 1.0758
Epoch 117/200
7119/7119 [==============================] - 1s 106us/step - loss: 1.0061 - val_loss: 1.0646
Epoch 118/200
7119/7119 [==============================] - 1s 158us/step - loss: 0.9974 - val_loss: 1.0632
Epoch 119/200
7119/7119 [==============================] - 1s 126us/step - loss: 1.0084 - val_loss: 1.0571
Epoch 120/200
7119/7119 [==============================] - 1s 135us/step - loss: 1.0034 - val_loss: 1.0558
Epoch 121/200
7119/7119 [==============================] - 1s 121us/step - loss: 0.9932 - val_loss: 1.0545
Epoch 122/200
7119/7119 [==============================] - 1s 113us/step - loss: 0.9973 - val_loss: 1.0538
Epoch 123/200
7119/7119 [==============================] - 1s 124us/step - loss: 0.9908 - val_loss: 1.0515
Epoch 124/200
7119/7119 [==============================] - 1s 110us/step - loss: 0.9827 - val_loss: 1.0509
Epoch 125/200
7119/7119 [==============================] - 1s 105us/step - loss: 0.9793 - val_loss: 1.0543
Epoch 126/200
7119/7119 [==============================] - 1s 102us/step - loss: 0.9731 - val_loss: 1.0622
Epoch 127/200
7119/7119 [==============================] - 1s 96us/step - loss: 0.9711 - val_loss: 1.0508
Epoch 128/200
7119/7119 [==============================] - 1s 101us/step - loss: 0.9598 - val_loss: 1.0499
Epoch 129/200
7119/7119 [==============================] - 1s 111us/step - loss: 0.9575 - val_loss: 1.0494
Epoch 130/200
7119/7119 [==============================] - 1s 135us/step - loss: 0.9611 - val_loss: 1.0487
Epoch 131/200
7119/7119 [==============================] - 1s 112us/step - loss: 0.9566 - val_loss: 1.0432
Epoch 132/200
7119/7119 [==============================] - 1s 128us/step - loss: 0.9590 - val_loss: 1.0402
Epoch 133/200
7119/7119 [==============================] - 1s 92us/step - loss: 0.9441 - val_loss: 1.0434
Epoch 134/200
7119/7119 [==============================] - 1s 98us/step - loss: 0.9505 - val_loss: 1.0440
Epoch 135/200
7119/7119 [==============================] - 1s 89us/step - loss: 0.9416 - val_loss: 1.0432
Epoch 136/200
7119/7119 [==============================] - 1s 85us/step - loss: 0.9403 - val_loss: 1.0354
Epoch 137/200
7119/7119 [==============================] - 1s 81us/step - loss: 0.9418 - val_loss: 1.0443
Epoch 138/200
7119/7119 [==============================] - 1s 96us/step - loss: 0.9331 - val_loss: 1.0463
Epoch 139/200
7119/7119 [==============================] - 1s 98us/step - loss: 0.9194 - val_loss: 1.0417
Epoch 140/200
7119/7119 [==============================] - 1s 99us/step - loss: 0.9259 - val_loss: 1.0453
Epoch 141/200
7119/7119 [==============================] - 1s 91us/step - loss: 0.9299 - val_loss: 1.0422
Epoch 142/200
7119/7119 [==============================] - 1s 83us/step - loss: 0.9251 - val_loss: 1.0379
Epoch 143/200
7119/7119 [==============================] - 1s 92us/step - loss: 0.9154 - val_loss: 1.0349
Epoch 144/200
7119/7119 [==============================] - 1s 94us/step - loss: 0.9024 - val_loss: 1.0310
Epoch 145/200
7119/7119 [==============================] - 1s 81us/step - loss: 0.9102 - val_loss: 1.0389
Epoch 146/200
7119/7119 [==============================] - 1s 81us/step - loss: 0.9005 - val_loss: 1.0270
Epoch 147/200
7119/7119 [==============================] - 1s 79us/step - loss: 0.8978 - val_loss: 1.0300
Epoch 148/200
7119/7119 [==============================] - 1s 81us/step - loss: 0.8995 - val_loss: 1.0359
Epoch 149/200
7119/7119 [==============================] - 1s 78us/step - loss: 0.9012 - val_loss: 1.0432
Epoch 150/200
7119/7119 [==============================] - 1s 83us/step - loss: 0.9062 - val_loss: 1.0335
Epoch 151/200
7119/7119 [==============================] - 1s 81us/step - loss: 0.8828 - val_loss: 1.0282
Epoch 152/200
7119/7119 [==============================] - 1s 84us/step - loss: 0.8828 - val_loss: 1.0340
Epoch 153/200
7119/7119 [==============================] - 1s 86us/step - loss: 0.8795 - val_loss: 1.0262
Epoch 154/200
7119/7119 [==============================] - 1s 90us/step - loss: 0.8681 - val_loss: 1.0310
Epoch 155/200

7119/7119 [==============================] - 1s 84us/step - loss: 0.8761 - val_loss: 1.0342
Epoch 156/200
7119/7119 [==============================] - 1s 96us/step - loss: 0.8833 - val_loss: 1.0341
Epoch 157/200
7119/7119 [==============================] - 1s 85us/step - loss: 0.8757 - val_loss: 1.0302
Epoch 158/200
7119/7119 [==============================] - 1s 84us/step - loss: 0.8642 - val_loss: 1.0307
Epoch 159/200
7119/7119 [==============================] - 1s 72us/step - loss: 0.8584 - val_loss: 1.0338
Epoch 160/200
7119/7119 [==============================] - 1s 78us/step - loss: 0.8605 - val_loss: 1.0324
Epoch 161/200
7119/7119 [==============================] - 1s 84us/step - loss: 0.8510 - val_loss: 1.0247
Epoch 162/200
7119/7119 [==============================] - 1s 82us/step - loss: 0.8474 - val_loss: 1.0324
Epoch 163/200
7119/7119 [==============================] - 1s 82us/step - loss: 0.8434 - val_loss: 1.0264
Epoch 164/200
7119/7119 [==============================] - 1s 89us/step - loss: 0.8448 - val_loss: 1.0272
Epoch 165/200
7119/7119 [==============================] - 1s 90us/step - loss: 0.8595 - val_loss: 1.0281
Epoch 166/200
7119/7119 [==============================] - 1s 86us/step - loss: 0.8347 - val_loss: 1.0366
Epoch 167/200
7119/7119 [==============================] - 1s 87us/step - loss: 0.8349 - val_loss: 1.0290
Epoch 168/200
7119/7119 [==============================] - 1s 89us/step - loss: 0.8347 - val_loss: 1.0268
Epoch 169/200
7119/7119 [==============================] - 1s 84us/step - loss: 0.8380 - val_loss: 1.0325
Epoch 170/200
7119/7119 [==============================] - ETA: 0s - loss: 0.827 - 1s 86us/step - loss: 0.8259 - val_loss: 1.0243
Epoch 171/200
7119/7119 [==============================] - 1s 82us/step - loss: 0.8263 - val_loss: 1.0261
Epoch 172/200
7119/7119 [==============================] - 1s 90us/step - loss: 0.8267 - val_loss: 1.0250
Epoch 173/200
7119/7119 [==============================] - 1s 90us/step - loss: 0.8141 - val_loss: 1.0259
Epoch 174/200
7119/7119 [==============================] - 1s 84us/step - loss: 0.8176 - val_loss: 1.0228
Epoch 175/200
7119/7119 [==============================] - 1s 79us/step - loss: 0.8198 - val_loss: 1.0276
Epoch 176/200
7119/7119 [==============================] - 1s 91us/step - loss: 0.8108 - val_loss: 1.0329
Epoch 177/200
7119/7119 [==============================] - 1s 98us/step - loss: 0.8143 - val_loss: 1.0225
Epoch 178/200
7119/7119 [==============================] - 1s 87us/step - loss: 0.8109 - val_loss: 1.0296
Epoch 179/200
7119/7119 [==============================] - 1s 92us/step - loss: 0.7992 - val_loss: 1.0299
Epoch 180/200
7119/7119 [==============================] - 1s 97us/step - loss: 0.8016 - val_loss: 1.0250
Epoch 181/200
7119/7119 [==============================] - 1s 80us/step - loss: 0.8077 - val_loss: 1.0321
Epoch 182/200
7119/7119 [==============================] - 1s 96us/step - loss: 0.7978 - val_loss: 1.0221
Epoch 183/200
7119/7119 [==============================] - 1s 107us/step - loss: 0.7878 - val_loss: 1.0319
Epoch 184/200
7119/7119 [==============================] - 1s 85us/step - loss: 0.7858 - val_loss: 1.0214
Epoch 185/200
7119/7119 [==============================] - 1s 95us/step - loss: 0.7816 - val_loss: 1.0256
Epoch 186/200
7119/7119 [==============================] - 1s 96us/step - loss: 0.7829 - val_loss: 1.0328
Epoch 187/200
7119/7119 [==============================] - 1s 102us/step - loss: 0.7833 - val_loss: 1.0304
Epoch 188/200
7119/7119 [==============================] - 1s 126us/step - loss: 0.7708 - val_loss: 1.0428
Epoch 189/200
7119/7119 [==============================] - 1s 102us/step - loss: 0.7764 - val_loss: 1.0334
Epoch 190/200
7119/7119 [==============================] - 1s 108us/step - loss: 0.7810 - val_loss: 1.0258
Epoch 191/200
7119/7119 [==============================] - 1s 110us/step - loss: 0.7662 - val_loss: 1.0363
Epoch 192/200
7119/7119 [==============================] - 1s 119us/step - loss: 0.7661 - val_loss: 1.0301
Epoch 193/200
7119/7119 [==============================] - 1s 121us/step - loss: 0.7637 - val_loss: 1.0376
Epoch 194/200
7119/7119 [==============================] - 1s 116us/step - loss: 0.7622 - val_loss: 1.0312
Epoch 195/200
7119/7119 [==============================] - 1s 108us/step - loss: 0.7614 - val_loss: 1.0302
Epoch 196/200
7119/7119 [==============================] - 1s 112us/step - loss: 0.7630 - val_loss: 1.0325
Epoch 197/200
7119/7119 [==============================] - 1s 108us/step - loss: 0.7571 - val_loss: 1.0299
Epoch 198/200
7119/7119 [==============================] - 1s 111us/step - loss: 0.7415 - val_loss: 1.0442
Epoch 199/200
7119/7119 [==============================] - 1s 106us/step - loss: 0.7430 - val_loss: 1.0386
Epoch 200/200
7119/7119 [==============================] - 1s 113us/step - loss: 0.7453 - val_loss: 1.0430

ΠΡΟΒΛΕΨΗ ΓΙΑ ΤΟ TEST SET

In [33]:
from sklearn.metrics import f1_score
y_pred = model.predict(X_test, batch_size=10)

for i in range(len(y_pred)):
    mx=-1
    k=0
    for j in range(8):
        if(mx<y_pred[i][j]):
            mx=y_pred[i][j]
            k=j
    for j in range(8):
        if(k==j):
            y_pred[i][j]=1.0
        else:
            y_pred[i][j]=0.0

y_pred=enc2.inverse_transform(y_pred)
#y_test =enc2.inverse_transform(Y_test)
#f1_score(y_test, y_pred, average='micro')

ΕΓΡΑΦΗ ΑΡΧΕΙΟΥ ΜΕ ΤΙΣ ΠΡΟΒΛΕΨΕΙΣ ΤΟΥ ΜΟΝΤΕΛΟΥ ΜΑΣ

In [34]:
import csv
with open('y_predMLP.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['Id', 'Label'])
    for i in range(y_pred.shape[0]):
        writer.writerow([i, int(y_pred[i][0])])

In [ ]:
#from sklearn.metrics import accuracy_score
#print("Accuracy:", 100*accuracy_score(y_test, y_pred))