In [15]:
import pandas as pd

df_train = pd.read_csv('train.csv')
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,7

In [16]:
p0 =0
p1 =0
p2 =0
p3=0
p4=0
p5=0
p6=0
p7=0
for i in range(len(df_train)):
    if(df_train['PAX'][i]==0):
        p0=p0+1
    elif(df_train['PAX'][i]==1):
        p1=p1+1
    elif(df_train['PAX'][i]==2):
        p2=p2+1
    elif(df_train['PAX'][i]==3):
        p3=p3+1
    elif(df_train['PAX'][i]==4):
        p4=p4+1
    elif(df_train['PAX'][i]==5):
        p5=p5+1
    elif(df_train['PAX'][i]==6):
        p6=p6+1
    elif(df_train['PAX'][i]==7):
        p7=p7+1
print('p0: ',(p0/len(df_train))*100,p0)
print('p1: ',(p1/len(df_train))*100,p1)
print('p2: ',(p2/len(df_train))*100,p2)
print('p3: ',(p3/len(df_train))*100,p3)
print('p4: ',(p4/len(df_train))*100,p4)
print('p5: ',(p5/len(df_train))*100,p5)
print('p6: ',(p6/len(df_train))*100,p6)
print('p7: ',(p7/len(df_train))*100,p7)        
all=p0+p1+p2+p3+p4+p5+p6+p7
all2=p0+p1+p2+p3+p4+p5+p6+p7
print('all: ',all)

p0:  21.463085739970783 1910
p1:  4.303854365659062 383
p2:  6.472637374985954 576
p3:  18.046971569839307 1606
p4:  1.2248567254747724 109
p5:  13.46218676255759 1198
p6:  24.193729632542983 2153
p7:  10.832677828969548 964
all:  8899

In [17]:
maxLabel=6
dv0=int(p6/p0)
dv1=int(p6/p1)
dv2=int(p6/p2)
dv3=int(p6/p3)
dv4=int(p6/p4)
dv5=int(p6/p5)
dv7=int(p6/p7)

i0=0
i1=0
i2=0
i3=0
i4=0
i5=0
i7=0

bucket0=[None]*p0
bucket1=[None]*p1
bucket2=[None]*p2
bucket3=[None]*p3
bucket4=[None]*p4
bucket5=[None]*p5
bucket7=[None]*p7
for j in range(len(df_train)):
    if(df_train['PAX'][j]==0):
        bucket0[i0]=j
        i0=i0+1
    elif(df_train['PAX'][j]==1):
        bucket1[i1]=j
        i1=i1+1
    elif(df_train['PAX'][j]==2):
        bucket2[i2]=j
        i2=i2+1
    elif(df_train['PAX'][j]==3):
        bucket3[i3]=j
        i3=i3+1
    elif(df_train['PAX'][j]==4):
        bucket4[i4]=j
        i4=i4+1
    elif(df_train['PAX'][j]==5):
        bucket5[i5]=j
        i5=i5+1
    elif(df_train['PAX'][j]==7):
        bucket7[i7]=j
        i7=i7+1

In [18]:
count=all+p0*dv0+p1*dv1+p2*dv2+p3*dv3+p4*dv4+p5*dv5+p7*dv7
print(count)
#print(bucket1)

21255

In [19]:
lTr=df_train.values.tolist()

In [20]:


#col=['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','Distance','PAX']
for j in range(dv0):
    for k in range(len(bucket0)):
        #df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],cv[i],cvt0[i],disTr[i],td0[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]]
        ind=bucket0[k]
        lTr.append(lTr[ind][:])
        
print(len(df_train))
for j in range(dv1):
    for k in range(len(bucket1)):
        ind=bucket1[k]
        lTr.append(lTr[ind][:])
        
        

for j in range(dv2):
    for k in range(len(bucket2)):
        #df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],cv[i],cvt0[i],disTr[i],td0[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]]
        ind=bucket2[k]
        lTr.append(lTr[ind][:])
        
        
for j in range(dv3):
    for k in range(len(bucket3)):
        #df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],cv[i],cvt0[i],disTr[i],td0[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]]
        ind=bucket3[k]
        lTr.append(lTr[ind][:])
        
        

for j in range(dv4):
    for k in range(len(bucket4)):
        #df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],cv[i],cvt0[i],disTr[i],td0[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]]
        ind=bucket4[k]
        lTr.append(lTr[ind][:])
       
        


for j in range(dv5):
    for k in range(len(bucket5)):
        #df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],cv[i],cvt0[i],disTr[i],td0[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]]
        ind=bucket5[k]
        lTr.append(lTr[ind][:])
       
        
        
        

for j in range(dv7):
    for k in range(len(bucket7)):
        #df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['LongitudeDeparture'][i],df_train['LatitudeDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['LongitudeArrival'][i],df_train['LatitudeArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],mt0[i],stt0[i],cv[i],cvt0[i],disTr[i],td0[i],airportTr[i],dayTr[i],monthTr[i],yearTr[i],holTr[i],df_train['PAX'][i]]
        ind=bucket7[k]
        lTr.append(lTr[ind][:])

8899

In [21]:
print(len(lTr))

21255

In [23]:
print(lTr[9000][1])

SFO

In [24]:
labels=['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','PAX']
df_tr = pd.DataFrame.from_records(lTr, columns=labels)
df_tr.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,7

In [26]:
import csv
with open('train2.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','LongitudeDeparture','LatitudeDeparture','Arrival','CityArrival','LongitudeArrival','LatitudeArrival','WeeksToDeparture','std_wtd','PAX'])
    for i in range(len(df_tr)):
        writer.writerow([df_tr['DateOfDeparture'][i],df_tr['Departure'][i],df_tr['CityDeparture'][i],df_tr['LongitudeDeparture'][i],df_tr['LatitudeDeparture'][i],df_tr['Arrival'][i],df_tr['CityArrival'][i],df_tr['LongitudeArrival'][i],df_tr['LatitudeArrival'][i],df_tr['WeeksToDeparture'][i],df_tr['std_wtd'][i],df_tr['PAX'][i]])

In [12]:
df_tr.shape

(21255, 12)

In [27]:
df_tr['PAX'].value_counts()

0    3820
3    3212
7    2892
5    2396
2    2304
1    2298
4    2180
6    2153
Name: PAX, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

le1 = LabelEncoder()
le1.fit(df_train['Departure'])
df_train['Departure'] = le1.transform(df_train['Departure'])
df_train['Arrival'] = le1.transform(df_train['Arrival'])
#df_test['Departure'] = le.transform(df_test['Departure'])
#df_test['Arrival'] = le.transform(df_test['Arrival'])
le2 = LabelEncoder()
le2.fit(df_train['CityDeparture'])
df_train['CityDeparture'] = le2.transform(df_train['CityDeparture'])
df_train['CityArrival'] = le2.transform(df_train['CityArrival'])
#df_test['CityDeparture'] = le.transform(df_test['CityDeparture'])
#df_test['CityArrival'] = le.transform(df_test['CityArrival'])
le3 = LabelEncoder()
le3.fit(df_train['DateOfDeparture'])
df_train['DateOfDeparture'] = le3.transform(df_train['DateOfDeparture'])
#df_test['DateOfDeparture'] = le.transform(df_test['DateOfDeparture'])

In [7]:

from imblearn.over_sampling import SMOTE
import numpy as np
y_train = df_train[['PAX']]
y_train = np.ravel(y_train)
df_train.drop(df_train.columns[[12]], axis=1, inplace=True)
sm = SMOTE(random_state=42)
df_trainSM, y_trainSM = sm.fit_sample(df_train, y_train)

In [18]:

print(df_trainSM.shape)
print(df_trainSM[0,1])
print(df_train.head())

(17224, 12)
15.0
   DateOfDeparture  Departure  CityDeparture  LongitudeDeparture  \
0               95         15              3           41.978603
1              547          0              0           33.636719
2              158         15              3           41.978603
3              466         15              3           41.978603
4              225         19             17           37.618972

   LatitudeDeparture  Arrival  CityArrival  LongitudeArrival  LatitudeArrival  \
0         -87.904842        6           13         40.692500       -74.168667
1         -84.428067       11           12         40.777245       -73.872608
2         -87.904842        1            1         42.364347       -71.005181
3         -87.904842       19           17         37.618972      -122.374889
4        -122.374889        8           12         40.639751       -73.778925

   WeeksToDeparture    std_wtd     Distance
0          8.352941   5.667243  1527.939887
1         10.421053  10.001754  1181.336943
2          9.250000   7.136821  1879.752387
3          8.666667   7.404291  3833.459735
4         14.037037   9.858544  5403.554833