In [1]:
import pandas as pd

df_train = pd.read_csv('ntrain.csv')
df_train.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,PAX
0,2011-12-05,ORD,Chicago,41.978603,-87.904842,EWR,Newark,40.692500,-74.168667,8.352941,5.667243,1527.939887,7
1,2013-03-01,ATL,Atlanta,33.636719,-84.428067,LGA,New York,40.777245,-73.872608,10.421053,10.001754,1181.336943,7
2,2012-02-06,ORD,Chicago,41.978603,-87.904842,BOS,Boston,42.364347,-71.005181,9.250000,7.136821,1879.752387,7
3,2012-12-10,ORD,Chicago,41.978603,-87.904842,SFO,San Francisco,37.618972,-122.374889,8.666667,7.404291,3833.459735,7
4,2012-04-13,SFO,San Francisco,37.618972,-122.374889,JFK,New York,40.639751,-73.778925,14.037037,9.858544,5403.554833,7

In [2]:
df_sorted=(df_train.sort_values(by='PAX')).copy()
print(2**2)
df_sorted.shape

4

(8899, 13)

In [3]:
size= len(df_train)
xstd=[None]*size;
cv=[None]*size;
xs=[None]*size;
s2 =[None]*size;
for i in range(len(df_train)):
    xstd[i]=df_train['WeeksToDeparture'][i]-2*df_train['std_wtd'][i]
    xs[i]=df_train['WeeksToDeparture'][i]+2*df_train['std_wtd'][i]
    cv[i]=(df_train['std_wtd'][i]/df_train['WeeksToDeparture'][i])*100
    s2[i]= df_train['std_wtd'][i]**2
df_train.shape

(8899, 13)

In [4]:
p0 =0
p1 =0
p2 =0
p3=0
p4=0
p5=0
p6=0
p7=0
for i in range(len(df_train)):
    if(df_train['PAX'][i]==0):
        p0=p0+1
    elif(df_train['PAX'][i]==1):
        p1=p1+1
    elif(df_train['PAX'][i]==2):
        p2=p2+1
    elif(df_train['PAX'][i]==3):
        p3=p3+1
    elif(df_train['PAX'][i]==4):
        p4=p4+1
    elif(df_train['PAX'][i]==5):
        p5=p5+1
    elif(df_train['PAX'][i]==6):
        p6=p6+1
    elif(df_train['PAX'][i]==7):
        p7=p7+1
        
all=p0+p1+p2+p3+p4+p5+p6+p7
print('all: ',all)

all:  8899

In [5]:
import csv
with open('sortedTrainstd.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(['DateOfDeparture', 'Departure','CityDeparture','Arrival','CityArrival','WeeksToDeparture','std_wtd','Distance','CV','x-std','x+std','variance','PAX'])
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==0):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],s2[i],df_train['PAX'][i]])
    
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==1):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],s2[i],df_train['PAX'][i]])
            
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==2):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],df_train['PAX'][i]])
            
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==3):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],df_train['PAX'][i]])
            
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==4):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],df_train['PAX'][i]])
            
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==5):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],df_train['PAX'][i]])
            
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==6):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],df_train['PAX'][i]])
            
    for i in range(len(df_train)):
        if(df_train['PAX'][i]==7):
            writer.writerow([df_train['DateOfDeparture'][i],df_train['Departure'][i],df_train['CityDeparture'][i],df_train['Arrival'][i],df_train['CityArrival'][i],df_train['WeeksToDeparture'][i],df_train['std_wtd'][i],df_train['Distance'][i],cv[i],xstd[i],xs[i],df_train['PAX'][i]])

In [6]:
print(df_sorted['PAX'][0])

7

In [7]:
df_sorted.head()

,DateOfDeparture,Departure,CityDeparture,LongitudeDeparture,LatitudeDeparture,Arrival,CityArrival,LongitudeArrival,LatitudeArrival,WeeksToDeparture,std_wtd,Distance,PAX
3799,2012-10-31,LAX,Los Angeles,33.942536,-118.408075,BOS,Boston,42.364347,-71.005181,11.444444,10.370899,5258.144904,0
3368,2012-01-26,SEA,Seattle,47.449000,-122.309306,ORD,Chicago,41.978603,-87.904842,8.250000,6.485882,3825.798893,0
6587,2012-05-29,CLT,Charlotte,35.214000,-80.943139,ATL,Atlanta,33.636719,-84.428067,10.894737,12.160477,388.234641,0
4402,2012-06-12,MCO,Orlando,28.429394,-81.308994,EWR,Newark,40.692500,-74.168667,12.200000,7.756718,841.068468,0
6578,2011-10-09,ORD,Chicago,41.978603,-87.904842,DTW,Detroit,42.212444,-83.353389,9.684211,6.708640,506.260188,0

In [8]:
print('p0: ',(p0/len(df_train))*100)
print('p1: ',(p1/len(df_train))*100)
print('p2: ',(p2/len(df_train))*100)
print('p3: ',(p3/len(df_train))*100)
print('p4: ',(p4/len(df_train))*100)
print('p5: ',(p5/len(df_train))*100)
print('p6: ',(p6/len(df_train))*100)
print('p7: ',(p7/len(df_train))*100)

p0:  21.463085739970783
p1:  4.303854365659062
p2:  6.472637374985954
p3:  18.046971569839307
p4:  1.2248567254747724
p5:  13.46218676255759
p6:  24.193729632542983
p7:  10.832677828969548

In [9]:
aT=21.463085739970783+4.303854365659062+6.472637374985954+18.046971569839307+1.2248567254747724+13.46218676255759+24.193729632542983+10.832677828969548
print(aT)

100.0